#container {
    display: grid;
    background-color: goldenrod;
    grid-template-columns: auto auto auto auto;
    gap: .3rem;
    padding: .3rem;
    grid-template-rows: repeat(4, 5rem);
}

#container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: Vineta BT, sans-serif;
    font-size: 3rem;
}

@media screen and (max-width: 1800px) {
    #container {
        grid-template-columns: auto;
        grid-template-rows: repeat(16, 5rem);
    }
}